@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <h1 class="text-center text-primary">Crypto Scanner</h1>
    <p class="lead text-center">Welcome to our simple Crypto Scanner!</p>
    <hr />
    <div class="text-center mt-4">
        <h5>Check our Crypto Coins</h5>
        <a href="/Crypto/home" class="btn btn-primary btn-lg">Let's Go</a>
    </div>
</div>
