@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Crypto Scanner</h1>
<p>Welcome to our simple Crypto Scanner!</p>
<hr />
<h5>Check our Crypto Coins</h5>
<a type="click" asp-page="/Crypto/home/" class="btn btn-primary">Lets go</a>
